*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
   background-image: url(../img/bg.jpg);
   background-size: cover;
   color: #fff;
   text-align: center;
}

.header_incomes{
    background: #28b9b5;
}
.header_expenses{
    background: #ff5049;
}
.header_incomes, .header_expenses{
    display: flex;
    justify-content: space-between;
}

article{
    display: flex;
    justify-content: center;
}

aside{
    display: flex;
    justify-content: center;
    gap: 10px;
}

button{
    cursor: pointer;
    border-radius: 50%;
    padding: 2px;
}